.envelope
  background: $gray
  height: $envelope-height
  margin: 0 auto
  width: $envelope-height * 2

.arrow-down
  border-left: $envelope-height solid transparent
  border-right: $envelope-height solid transparent
  border-top: $envelope-height * 0.75 solid $dark-gray
  height: 0
  margin: 0 auto
  width: 0

.mailboxes, .typewriter, .postage
  height: 250px
  width: auto

.mailboxes
  background: url(../images/mailboxes.svg) no-repeat top center

.typewriter
  background: url(../images/typewriter.svg) no-repeat top center

.postage
  background: url(../images/postage.svg) no-repeat top center
