.padded-heading
  padding: 9rem 0 4rem

@media(max-width: 500px)
  .padded-heading
    padding: 4rem 0 2rem

.padded-section
  padding: 4rem 0

.light
  background: $white

.title
  font-size: 5.5rem
  font-weight: 500
  margin: 0 0 .7rem 0
  text-align: center

@media(max-width: 700px)
  .title
    font-size: 4rem
    margin: 0
  .subtitle
    font-size: 1.6rem
    padding-top: 1.6rem

@media(max-width: 500px)
  .title
    font-size: 3rem

  .subtitle
    font-size: 1.3rem
    padding-top: 2rem

.subtitle
  font-style: italic
  font-weight: 400
  margin: 0
  padding-bottom: 3rem

.button
  background: $white
  border: 2px solid $gray
  color: $gray
  font-family: $sans
  font-size: 1.2rem
  font-weight: 700
  letter-spacing: 1px
  margin: 0 .5rem
  outline: none
  padding: .5rem
  transition: all .5s ease-in-out

  &:hover
    background: $off-white
    color: $gray

.at-symbol
  font-family: verdana
  font-size: .95rem

.section-title
  font-size: 1.5rem
  font-weight: 400
  text-align: center

.descriptions
  margin: 0
  padding-left: 0

.description-body
  display: inline-block
  height: 500px
  padding: 2rem
  vertical-align: top
  text-align: center
  width: 28%

  &:last-child
    border-right: none

@media(max-width: 1230px)
  .description-body
    display: block
    padding: 0
    width: 100%

.description-text
  padding: 2rem

.description-title
  font-family: $serif
  font-size: 1.5rem
  font-weight: 400
  margin: 0

.cta
  border-bottom: 2px solid $text-color
  border-top: 2px solid $text-color
  margin-bottom: 2rem
  padding: 5rem 0

.author
  font-style: italic

  a
    %extend .button
    border: 2px solid $darker-gray
    color: $darker-gray
    font-family: $sans
    font-style: normal
    font-weight: 700
    letter-spacing: 1px
    margin: 0 .2rem
    padding: .5rem
    text-decoration: none
    transition: all .5s ease-in-out

    &:hover
      background: $white
