.main-heading
  background: $white
  border-bottom: 1px solid $light-brown
  font-family: $serif
  padding: 5em
  text-align: center

.envelope
  background: $gray
  height: $envelope-height
  margin: 0 auto
  width: $envelope-height * 2

.arrow-down
  border-left: $envelope-height solid transparent
  border-right: $envelope-height solid transparent
  border-top: $envelope-height * 0.75 solid $dark-gray
  height: 0
  margin: 0 auto
  width: 0

.title
  font-size: 5.5em
  font-weight: 700
  margin-bottom: 0
  text-align: center

.subtitle
  // border-bottom: 1px solid $light-brown
  font-style: italic
  font-weight: 400
  // padding-bottom: 3em

.section-title
  font-family: $sans
  font-size: 1.5em
  text-align: center

section
  padding: 5em 0

.intro
  text-align: center

.email-address
  background: $white
  border: none
  font-family: $serif
  font-weight: 400
  outline: none
  padding: .75em
  transition: border .5s ease-in-out
  transition: all .5s ease-in-out

  &:hover
    color: $white
    background: $gray

.details
  // background: $red
