.main-heading
  background: $white
  border-bottom: 1px solid $light-brown
  font-family: $serif
  padding: 9rem 0
  text-align: center

.title
  font-size: 5.5rem
  font-weight: 700
  margin-bottom: 0
  text-align: center

.subtitle
  font-style: italic
  font-weight: 400

.envelope
  background: $gray
  height: $envelope-height
  margin: 0 auto
  width: $envelope-height * 2

.arrow-down
  border-left: $envelope-height solid transparent
  border-right: $envelope-height solid transparent
  border-top: $envelope-height * 0.75 solid $dark-gray
  height: 0
  margin: 0 auto
  width: 0

.section-title
  font-size: 1.5rem
  text-align: center

.details
  background: $gray
  color: $light-gray
  padding-left: 0

.detail-body
  border-right: 2px dashed $dark-gray
  display: inline-block
  height: 300px
  padding: 2rem
  vertical-align: top
  text-align: center
  width: 28.7%

  &:last-child
    border-right: none

.detail-text
  padding: 1rem
  margin-top: 2rem

.intro
  background: lighten($off-white, 2)
  padding: 3rem 0
  text-align: center

.email-address
  background: $white
  color: $gray
  font-weight: 400
  outline: none
  border: none
  padding: .5rem
  margin: 0 .5rem
  transition: border .5s ease-in-out
  transition: all .5s ease-in-out

  &:hover
    color: $gray
    background: $light-gray
